@media screen and (min-width: 600px) {
 .text {
  flex-basis: 60%;
 }

 .image1 {
  flex-basis: calc(40% - 30px);
  height: calc((40% - 30px) * 0.75);
  max-height: 162px;
 }

 .image2 {
  flex-basis: calc(40% - 30px);
  height: calc((40% - 30px) * 0.75);
  max-height: 233px;
 }

 .textWrapper {
  flex-basis: calc(60% + 30px);
 }
}