@media screen and (min-width: 768px) {
 .wrapper {
  display: flex;
  flex-wrap: wrap;
 }

 .image1 {
  max-width: 50%;
  height: 243px;
  margin-bottom: 0;
 }

 .para2 {
  max-width: calc(50% - 30px);
 }

 .image2 {
  max-height: 550px;
  margin-bottom: 20px;
 }
}