@media screen and (min-width: 768px) {
 .menuButton {
  display: none;
 }

 .dropdown {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 85%;
 }

 .topMenuBar {
  flex-basis: 15%;
 }

 .navigation {
  padding-bottom: 0;
 }
}

@media screen and (max-width: 767px) {

 .navigation {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
 }

 .dropdown {
  display: flex;
  flex-direction: column;
  display: none;
 }

 .menuItems {
  padding-top: 10px;
 }
}

.menuItems>a {
 font-weight: 400;
 color: var(--black);
}