@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700,800&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  --white: #f4f4f4;
  --light: #ffa660;
  --bright: #ff7000;
  --medium: #006235;
  --dark: #003F22;
  --black: #323232;

}

/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--bright);
  font-weight: bold;
  cursor: pointer;
}

a:focus,
a:hover {
  color: var(--medium);
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  color: var(--black)
}

p {
  margin: 0;
  color: var(--black);
}

li {
  margin: 0;
  color: var(--black);
  font-size: 1.15rem;
  line-height: 1.7rem;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

label {
  color: var(--black);
}


/** End of Reset **/

h2 {
  font-size: 2.4rem;
  margin: 0 1.5rem 1.3rem;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
  margin: 0 1.5rem 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1.15rem;
  margin: 0 1.5rem 1.5rem;
  line-height: 1.7rem;
}

ul,
ol {
  margin: 0 3rem 1.5rem;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  width: 100vw;
}

/** Sticky footer on Layout **/
.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  flex-grow: 1;
}

.layout-footer {
  flex-shrink: 0;
}