@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700,800&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  --white: #f4f4f4;
  --light: #ffa660;
  --bright: #ff7000;
  --medium: #006235;
  --dark: #003F22;
  --black: #323232;

}

/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--medium);
  font-weight: bold;
  cursor: pointer;
}

a:focus,
a:hover {
  color: var(--bright);
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  color: var(--black)
}

p {
  margin: 0;
  color: var(--black)
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}


/** End of Reset **/

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  margin-bottom: 1.3rem;
  font-weight: bold;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

/** Sticky footer on Layout **/
.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  flex-grow: 1;
}

.layout-footer {
  flex-shrink: 0;
}